.modx-desc {
	color: #53595f;
	margin: 15px 15px -15px 15px;
	padding: 15px;
	background: #f0f0f0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	   		border-radius: 0;
}

.modx-config-error {
	margin-bottom: 15px;
}